@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<div class="container about-us-wrp">
<div class="row">
    <img src="../Content/assets/img/backgrounds/about-us.jpg" />

</div>

<div class="row" style="padding-top: 10px;">
<p>‘Scaling up Nutrition through a Multi-Sector Approach’ is a Joint Programme of the World Food Programme (WFP)
 and the Food and Agriculture Organization of the United Nations (FAO) being implemented by the Government of Sri Lanka. 
 This project aims at implementing prioritized activities of the national Multi-Sector Action Plan on Nutrition (MSAPN) 
 through a grant from the Corporation Espanola, administered by the Sustainable Development Goal Fund (SDG-F), 
 and through matching funds from the Government of Sri Lanka. </p>
</div>
<h3 class="about-sub-head">The two main objectives of the Joint Programme (JP) are to: </h3>

<ul class="obj-list">
<li>Improve efficiency and effectiveness of government investment on food security and nutrition by highlighting the gaps, opportunities and impact of current initiatives; and</li>

<li>Achieve attitudinal and behavioral changes through enhanced nutrition education and 
nutrition promotion on safe and nutrient/rich foods, dietary, nutrient deficiencies and its root causes.</li>

</ul>
<p>
The key focus for FAO within the JP are to improve the nutrition, knowledge, and dietary practices of school children and pre-school children by providing nutrition information; curriculum development; technical guidelines and tools; training of teachers, education officers, and other relevant stakeholders in nutrition education; introducing school gardens based learning; and strengthening school nutrition information systems.  To achieve these goals, FAO works closely with the Ministry of Education and the Ministry of Women and Child Affairs. <br /><br />Inception workshops were conducted on the 21st and 24th July, 2015 with State Ministry of Education Services (SMoEd) and the State Ministry of Child Affairs, respectively, and relevant stakeholders to discuss detailed activities in achieving the project objectives, outputs and outcomes. FAO is continuing to work in close partnership with both Ministries to implement the activities of the JP to promote nutrition information and improve the nutritional status of children. <br /><br />Following the recent changes within the government, the SDG-F JP is collaborating with the National Nutrition Secretariat of Sri Lanka (NNSSL) to ensure programmatic oversight and coordination between the implementing ministries to work together towards a successful outcome of reducing maternal and child under-nutrition and contribute to breaking the intergenerational cycle of under-nutrition by improving the effectiveness and efficiency of government nutrition programmes.
</p>

</div>
