@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_IndexWeb.cshtml";
}

<div>


 			<div class="header-wrp"><h3>About Us</h3></div> 


    <div class="row">


        <div class="col-md-6">
            <img src="../Content/webindex/img/vision-mission.jpg" class="img-responsive"/>
        </div>


        <div class="col-md-6">
            
    <div class="inner-page-wrp">
 <strong class="inner-sub-head">Vision</strong>  
<p>
A Sri Lankan nation that has optimized the quality of life and health potential of all women, children and their families</p>

<strong class="inner-sub-head">Mission</strong>

<p>To contribute to the attainment of highest possible levels of health of all women, 
children and families through provision of comprehensive, sustainable, equitable and quality Maternal and Child Health services in a supportive, culturally acceptable and family friendly settings.
 </p>


    <strong class="inner-sub-head">Our Services</strong>

<p>To contribute to the attainment of highest possible levels of health of all women, 
children and families through provision of comprehensive, sustainable, equitable and quality Maternal and Child Health services in a supportive, culturally acceptable and family friendly settings.
 </p>
</div>
    
        </div>
    </div>




                </div>
