@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_IndexWeb.cshtml";
}



<div>


 			<div class="header-wrp"><h3>Contact Details</h3></div> 

    <div style="padding-left:8px;">
 <button class="accordion">Director (MCH)</button>
<div class="panel">
  <p>
      <table border="0" class="mtable">
<tbody>
<tr class="mhead">
<td style="width: 250px;"><strong>Name</strong></td>
<td><strong>Designation</strong></td>
<td style="text-align: center;"><strong>Telephone</strong></td>
<td style="width: 300px;"><strong>E-mail</strong></td>
</tr>
<tr class="r1">
<td>Dr.Sapumal Dhanapala</td>
<td>Act.Director/MCH</td>
<td style="text-align: center;">+94 11 2696508</td>
<td style="width: 300px;">&nbsp;<span id="cloak1267"><a href="mailto:dmch@fhb.health.gov.lk">dmch@fhb.health.gov.lk</a></span><script type="text/javascript">
                                                                                                                                  &lt;!--
                                                                                                                                  document.getElementById('cloak1267').innerHTML = '';
                                                                                                                                  var prefix = '&amp;#109;a' + 'i&amp;#108;' + '&amp;#116;o';
                                                                                                                                  var path = 'hr' + 'ef' + '=';
                                                                                                                                  var addy1267 = 'dmch' + '&amp;#64;';
                                                                                                                                  addy1267 = addy1267 + 'fhb' + '&amp;#46;' + 'h&amp;#101;&amp;#97;lth' + '&amp;#46;' + 'g&amp;#111;v' + '&amp;#46;' + 'lk';
                                                                                                                                  document.getElementById('cloak1267').innerHTML += '&lt;a ' + path + '\'' + prefix + ':' + addy1267 + '\'&gt;' +addy1267+'&lt;\/a&gt;';
                                                                                                                                  //--&gt;\n </script></td>
</tr>
<tr class="r2">
<td>Dr. S.V. Wasana Sanjeevani Samarasinghe</td>
<td>Medical Officer<br>Director (MCH) Office</td>
<td style="text-align: center;">+94 11 2696508</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
  </p>
</div>

<button class="accordion">Deputy Director (MCH)</button>
<div class="panel">
  <p>


      <table class="mtable" style="width: 100%;" border="0">
<tbody>
<tr class="mhead">
<td><strong>Name</strong></td>
<td><strong>Designation</strong></td>
<td style="text-align: center;"><strong>Telephone</strong></td>
<td><strong>E-mail</strong></td>
</tr>
<tr class="r1">
<td>Dr.Sapumal Dhanapala</td>
<td>Act. Deputy Director/MCH</td>
<td style="text-align: center;">+94 11 2681311</td>
<td>
<p>&nbsp;ddmch<span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;">fhb.health.gov.lk</span></p>
<p><span id="cloak18632">This email address is being protected from spambots. You need JavaScript enabled to view it.</span></p>
</td>
</tr>
</tbody>
</table>		


  </p>
</div>

<button class="accordion">Finance and Administrative Unit</button>
<div class="panel">
  <p>


      										<table class="mtable" style="width: 100%;" border="0">
<tbody>
<tr class="mhead">
<td><strong>Name</strong></td>
<td><strong>Designation</strong></td>
<td style="text-align: center;"><strong>Telephone (Official)</strong></td>
<td><strong>E-mail</strong></td>
</tr>
<tr class="r1">
<td>Mr. S.R.Senadheera</td>
<td>Accountant</td>
<td style="text-align: center;">+94 11 2694410</td>
<td>
<p>accountant<span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;">fhb.health.gov.lk</span></p>
<p><span id="cloak97934">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
 <!--
    document.getElementById('cloak97934').innerHTML = '';
    var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
    var path = 'hr' + 'ef' + '=';
    var addy97934 = 'srs&#101;n&#97;dh&#101;&#101;r&#97;' + '&#64;';
    addy97934 = addy97934 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
    document.getElementById('cloak97934').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy97934 + '\'>' +addy97934+'<\/a>';
    //-->\n </script>&nbsp;</p>
</td>
</tr>
<tr class="r2">
<td>Mr</td>
<td><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">Administrative Officer</span></span></td>
<td style="text-align: center;">+94 11 2675171</td>
<td>&nbsp;</td>
</tr>
<tr class="r1">
<td>Ms.I.R.I Peiris</td>
<td>Chief Management Assistant</td>
<td style="text-align: center;">+94 11 2675171</td>
<td><span id="cloak62731">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
 <!--
    document.getElementById('cloak62731').innerHTML = '';
    var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
    var path = 'hr' + 'ef' + '=';
    var addy62731 = 'k&#117;r&#117;pp&#117;1' + '&#64;';
    addy62731 = addy62731 + 'y&#97;h&#111;&#111;' + '&#46;' + 'c&#111;m';
    var addy_text62731 = '&nbsp;';
    document.getElementById('cloak62731').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy62731 + '\'>'+addy_text62731+'<\/a>';
    //-->\n </script></td>
</tr>
</tbody>
</table>	
  </p>
</div>

        </div>
                </div>
<script type="text/javascript">
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
</script>