@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Help</h2>

<script type="text/javascript">
   
</script>

<body>


<div>

<iframe id="video2Play" width="520" src = "@ViewBag.HelpVideo" height="360"  frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>


</body>
