@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


      <div class="container">
<div class="row index-top-box">
<div class="col-md-5">
  <img src="../Content/assets/img/backgrounds/children.jpg" class="img-responsive"/></div>
<div class="col-md-7">
<p>
Scaling up Nutrition through a Multi-Sector Approach’ is a Joint Programme of the World Food Programme (WFP)
 and the Food and Agriculture Organization of the United Nations (FAO) being implemented by the Government of Sri Lanka. 
 This project aims at implementing prioritized activities of the national Multi-Sector Action Plan on Nutrition (MSAPN) 
 through a grant from the Corporation Espanola, administered by the Sustainable Development Goal Fund (SDG-F), 
 and through matching funds from the Government of Sri Lanka.

 
<a href="@Url.Action("AboutUs","Home")" style="color:#0070bc">More >></a>
</p>


</div>
</div>

  <hr />
  <div style="float:left">

      <table class="form-menu" style="margin:0;padding:0;">
          <tr>
              <td style="padding-right:10px">
                  <a href="@Url.Action("SchoolInfo","Home")">School Information</a>
              </td>
              <td style="font-weight:bold;color:red;padding-right:10px"> IMPORTANT NOTICE FOR ALL USERS</td>
              <td style="color:red; text-align:left">Format which is used to uplaod the student information has been slightly changed.</td>

          </tr>
          <tr>
              <td style="padding-right:10px">
                  
              </td>
              <td style="font-weight:bold;color:red"> </td>
              <td style="color:red;text-align:left">Please download the new format by clicking the below link.</td>

          </tr>
          <tr>
              <td style="padding-right:10px">
                  
              </td>
              <td style="font-weight:bold;color:red"> </td>
              <td style="text-align:left"> <a style ="color:blue;background-color:white;text-decoration:underline" href="Download?file=FinalStudent.xlsx" target="_blank">DOWNLOAD NEW FORMAT</a></td>

          </tr>  
           <tr>
              <td style="padding-right:10px">
                  
              </td>
              <td style="font-weight:bold;color:red"> </td>
              <td style="color:red;text-align:left"> If you have already entered the data to old format then download the new format and </td>

          </tr>  
          <tr>
              <td style="padding-right:10px">
                  
              </td>
              <td style="font-weight:bold;color:red"> </td>
              <td style="color:red;text-align:left">replace old format column headers with new format column headings.</td>

          </tr>  
          
           
              
         

      </table>





  @*<ul class="form-menu" style="margin:0;padding:0">
      
    <li><a href="@Url.Action("SchoolInfo","Home")">School Information</a></li>
       <li>@Html.Display("Format which is used to uplaod the student information has been slightly changed.")</li>
      <li style ="color:red">Please download the new format by clicking the below link.</li>
      <li></li>
      <a style ="color:blue" href="Download?file=FinalStudent.xlsx" target="_blank">DOWNLOAD NEW FORMAT</a>
      <li></li>
      <li style ="color:red">If you have already entered the data to old format then download the new format and replace old format column headers with new format column headings.</li>
      
  </ul>*@
   
    </div>
     </div>

