@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    
}

<div class="container">
    <div class="row index-top-box">
<div class="ajx-error"><h2>Error</h2>
<p>
    @ViewBag.ErrorMessage
</p>

</div>
@*<div class="container" style="text-align:center">
<a class="error-back blue-btn" href="#">&lt;&lt; Back to Page</a>
</div>*@
        </div></div>